html {
  font-size: 62.5%;
}

:root {
  --primary: #e2b714;
  --error: #ca4754;
  --txtWhite: #d1d0c5;
  --txtGray: #646669;
  --darkGray: #2c2e31;
  --bg: #323437;
}
body {
  background: var(--bg);
  font-family: monospace;
  position: relative;
  padding: 0;
  margin: 0;
}

.header {
  height: 8rem;
  display: flex;
  align-items: center;
  padding: 0 14.8rem;
  flex-wrap: wrap;
}
.header h4 {
  font-size: 1.4rem;
  color: var(--txtGray);
  margin-left: 1rem;
}
.section-app {
  position: relative;
}
.logo {
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.logo-img {
  color: var(--primary);
  height: 24px;
  margin-top: 5px;
}
.logo-title {
  font-size: 3.2rem;
  color: var(--txtWhite);
}
.paragraph-wrapper {
  width: 80%;
  height: 90px;
  margin: auto;
  margin-top: 20vh;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
}
.word-count {
  position: absolute;
  top: -3.5rem;
  left: 15rem;
  font-size: 3rem;
  display: flex;
  color: var(--primary);
}
.word-completed {
  transition: all 0.3s ease;
}
.word-total {
  transition: all 0.3s ease;
}
.blur {
  height: 300px;
  width: 100%;
  position: absolute;
  backdrop-filter: blur(5px);
  z-index: 1;
}
.paragraph {
  margin: 0;
  font-size: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  font-family: monospace;
  z-index: -2000;
  position: relative;
  top: 0;
  transition: top 0.3s ease;
}
.letter {
  color: var(--txtGray);
  position: relative;
  transition: all 0.3s ease;
  z-index: -2000;
}

.wrong {
  color: var(--error);
}
.right {
  color: var(--txtWhite);
  transition: all 0.3s ease;
}
.bar {
  background-color: var(--primary);
  display: inline-block;
  height: 2.7rem;
  position: absolute;
  top: 2px;
  left: 0px;
  width: 4px;
  z-index: 2000;
  border-radius: 3px;
  transition: all 0.3s ease-out;
}
.bar--animated {
  animation: blinking 1s ease infinite;
}
input {
  opacity: 0;
}
.menu {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  height: 38vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 3000;
}
.info {
  font-size: 1.8rem;
  color: var(--txtWhite);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.info i {
  margin-right: 1rem;
}
.textBtn {
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--txtGray);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease;
}
.textBtn:hover {
  color: var(--txtWhite);
}
.textBtn i {
  margin-right: 10px;
}

.hidden {
  visibility: hidden;
}

.user-preference {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  z-index: 10000000;
}

.user-preference-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--darkGray);
  max-width: 80rem;
  border-radius: 0.5rem;
  padding: 1.2rem 1.5rem;
  font-family: "Times New Roman", Times, serif;
}
.user-preference-left {
  padding-right: 0.5rem;
  border-right: 2px solid var(--txtGray);
}

.user-preference-middle {
  padding-right: 0.5rem;
  border-right: 2px solid var(--txtGray);
}

.user-preference-right {
}
.up-btn {
  font-size: 1.8rem;
  font-weight: 500;
  background-color: transparent;
  border: none;
  color: var(--txtGray);
  cursor: pointer;
  transition: all 0.2s ease;
}
.up-btn i {
  margin-right: 2px;
}
.up-btn:hover {
  color: var(--txtWhite);
}
.active {
  color: var(--primary);
}
@keyframes blinking {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}

.result-popup {
  position: absolute;
  background-color: var(--bg);
  top: 10rem;
  width: 0%;
  margin-top: 10rem;
  height: 35rem;
  z-index: 10000;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.8s ease;
}
.result {
  margin: auto;
  display: flex;
  transition: all 0.3s ease;
}
.result-type {
  font-size: 5rem;
  margin-right: 1rem;
  color: var(--txtGray);
}
.result-value {
  font-size: 7rem;
  margin: 0;
  color: var(--primary);
  border: 2px solid var(--primary);
}
.popup-restart-btn {
  font-size: 3rem;
  color: var(--txtWhite);
  margin-left: 40%;
  cursor: pointer;
  margin-top: 1rem;
}
.show-popup {
  width: 100%;
  opacity: 1;
}

@media (max-width: 105rem) {
  .header {
    margin-top: 1rem;
  }
}

@media (max-width: 62rem) {
  .up-btn {
    font-size: 1.6rem;
  }
}
@media (max-width: 55rem) {
  .header {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    flex-wrap: wrap;
  }
  .header h4 {
    font-size: 1.4rem;
    color: var(--txtGray);
  }
  .section-app {
    position: relative;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .logo-img {
    color: var(--primary);
    height: 2rem;
    margin-top: 5px;
  }
  .logo-title {
    font-size: 2.4rem;
    color: var(--txtWhite);
  }
  .paragraph-wrapper {
    width: 90%;
    margin: 0;
    margin: auto;
    margin-top: 9rem;
  }
  .paragraph {
    width: 100%;
  }
}
